/* Calendar.css */
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 20px;
    left: 25px;
    top: 70px;
    z-index: 2000;
}

.bm-burger-bars {
    background: #000003;
    height: 1px;
}

.bm-menu {
    background: #fefeff;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
    height: calc(100% - 100px);
    overflow-y: auto;
    z-index: 1000;
}

.bm-item-list {
    color: #020200;
    padding: 0.8em;
}

.bm-item {
    display: inline-block;
}
